body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  
  background-color: #008fb3;
}

.topnav a.right {
  float: right;
  margin-right: 20px;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav button.right {
  float: right;
  background-color:#008fb3; 
  margin-right: 20px;
  border: none;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 19px;
}


.topnav a.active {
    float: left;
 margin-left: 60px;
  background-color: #008fb3;
  color: #ffffff;
   text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 18px;

}

.topnav .icon {
  display: none;
}

.topnav input[type=text] {
  
  padding: 6px;
  width: 500px;
  margin-top: 14px;
  
  margin-left: 16px;
  border: none;
  font-size: 17px;
}





@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
    

}

.search {
    margin-top: 14px;
    width: 8%;
  padding: 8px 0px; 
  
  background: grey;
  color: white;
  font-size: 17px;
  border: 2px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

li, form { display: inline; }

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    
  }
  .topnav.responsive a {
    float: none;
    display: block;
    margin-left:none;
    text-align: left;
  }
  .topnav input[type=text] {
      display:inline-block;
    border: 1px solid #ccc;
    width: 300px;
  }
.search {
    display: inline;
border: 1px solid #ccc;
    width: 8%;
  
}

li, form { display: inline; }

}




